
{% extends 'html/base.html' %}

{% block content %}
<div class="form-container">
    <div class="form-group">
        <h1>アカウントに関するお困りの方へ</h1>
        <p>パスワードリセットのリンクを送信するために、あなたのメールアドレスを入力してください。</p>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email }}
            </div>
            <button type="submit" class="btn btn-primary">パスワードリセットリンクを送信</button>
        </form>

        <p>既にアカウントをお持ちの方は、<a href="{% url 'anime_tracker:user_login' %}">ログイン</a>してください。</p>
    </div>
</div>
{% endblock %}
