.btn-active {
    background-color: orange;
    color: white;
}

.btn-inactive {
    background-color: gray;
    color: white;
}

button[disabled] {
    background-color: lightgray;
    cursor: not-allowed;
}
