{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>アニメ視聴管理</title>
        <!-- Bootstrap CSSの読み込み -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/sort.css' %}">
        <link rel="stylesheet" href="{% static 'css/anime_list.css' %}">
        <link rel="stylesheet" href="{% static 'css/inputform.css' %}">
        <link rel="stylesheet" href="{% static 'css/inputform.css' %}">
        
        <script src="{% static 'js/sort.js' %}" defer></script>
        <script src="{% static 'js/search_filters.js' %}" defer></script>
    </head>

    <body>
        <!-- ヘッダー部分 -->
        <header>
            <!-- 左側：タイトル部分 -->
            <div class="header-title">
                <a href="{% url 'anime_tracker:home' %}" class="text-decoration-none fs-4">アニメログ</a>
            </div>

            <!-- 検索バー（home.htmlページでのみ表示） -->
            {% if request.resolver_match.view_name == 'anime_tracker:home' %}
                <form method="get" action="{% url 'anime_tracker:home' %}" class="d-flex">
                    <input type="text" name="search" class="form-control" placeholder="スペースで区切って検索" value="{{ request.GET.search }}">
                    <button type="submit" class="btn btn-primary">検索</button>
                </form>
                
            {% endif %}

            <!-- 右側：ドロップダウンメニュー -->
            <div class="dropdown">
                {% if request.user.is_authenticated %}
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        アカウント設定
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{% url 'anime_tracker:user_edit' %}">アカウント設定</a></li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="document.getElementById('logout-form').submit();">ログアウト</a>
                            <form id="logout-form" method="POST" action="{% url 'anime_tracker:user_logout' %}" style="display: none;">
                                {% csrf_token %}
                            </form>
                        </li>
                    </ul>
                {% else %}
                    <!-- 未ログインならログインボタン -->
                    <a href="{% url 'anime_tracker:user_login' %}" class="header-btn">ログイン</a>
                {% endif %}
            </div>
        </header>

        <!-- Bootstrap JavaScriptの読み込み -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>

        <!-- メインコンテンツ -->
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
