<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポートフォリオ</title>
</head>
<body>
    <h1>AnimeLog</h1>
    <p>アニメログは、アニメをネタに会話で盛り上がりたい人々をサポートする視聴記録アプリです。</p>
    <a href="https://docs.google.com/presentation/d/1vK-kWPzLCi4cFw8TfZu-iuX-r2qF4UUD51WCgTG6L0A/edit?usp=drive_link" target="_blank">企画書</a>
    <a href="https://drive.google.com/file/d/1je_9GniYDErsUjIG3yN-cMjPPFAt6SFR/view?usp=drive_link" target="_blank">ER図</a>
    <a href="{% url 'anime_tracker:home' %}">アプリにアクセス</a> 
</body>
</html>
