{% extends "html/base.html" %}
{% load static %}
<!DOCTYPE html>

{% block content %}

<div class="form-container">
    <h1>ユーザー登録</h1>

    <!-- ユーザー登録フォーム -->
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ user_form.nickname.id_for_label }}">ニックネーム</label>
            {{ user_form.nickname }}
            {% if user_form.nickname.errors %}
                <div class="error-message">
                    {% for error in user_form.nickname.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ user_form.email.id_for_label }}">メールアドレス</label>
            {{ user_form.email }}
            {% if user_form.email.errors %}
                <div class="error-message">
                    {% for error in user_form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ user_form.password1.id_for_label }}">パスワード</label>
            {{ user_form.password1 }}
            {% if user_form.password1.errors %}
                <div class="error-message">
                    {% for error in user_form.password1.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ user_form.password2.id_for_label }}">確認用パスワード</label>
            {{ user_form.password2 }}
            {% if user_form.password2.errors %}
                <div class="error-message">
                    {% for error in user_form.password2.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- 登録ボタン -->
        <button type="submit" class="btn btn-primary">ユーザー登録</button>
    </form>

    {% comment %} <!-- フォーム全体のエラーメッセージ -->
    {% if user_form.errors %}
        <div class="form-errors">
            <ul>
                {% for field in user_form %}
                    {% if field.errors %}
                        <li>
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %} {% endcomment %}
</div>




{% endblock %}